/* in Footer.css */
.app-footer-content {
  /* Only styles for footer content, not layout */
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
